@charset "UTF-8";

@font-face {
    font-family:"Avenir Medium";
    src:url(typefaces/Avenir-Medium.ttf) format("truetype");
}
@font-face {
    font-family:"Avenir Black";
    src:url(typefaces/Avenir-Black.ttf) format("truetype");
}
@font-face {
    font-family:"Avenir Book";
    src:url(typefaces/Avenir-Book.ttf) format("truetype");
}

a {
	color: black;
	font-family:"Avenir Medium";
	text-decoration: none;
}

html, body{
	width: 100vw;
	height: 100vh;
	margin: 0;	
	font-size: 12px;
	text-align: left;
	font-family: 'Avenir Medium';
	background-size: 25vw;
	background-image: url(images/websiteBG2.png);
	background-repeat:repeat;
}

.obfuscate {
	unicode-bidi: bidi-override; 
	direction: rtl; 
}

#container {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

#nav {
	position: fixed;
	outline: 1.5px solid black;
	outline-offset: -5px;
	margin-left: 5px;
	margin-top: 5px;
	padding-left: 20px;
	padding-top: 20px;
	line-height: 20px;
	-webkit-transition: height 0.5s , width 0.5s, background 0.7s;
	overflow: hidden;
}
.expand {
	width: 170px;
    height: 300px;
	background: white;
}

.collapse {
	width: 15px;
    height: 15px;
}

.rotate{
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#logo{
/*	pointer-events: none;*/
	cursor: default;
	position: fixed;
	top: 12px;
	left: 17px;
	font-family: 'Avenir Black';
	width: 10px;
	height: 20px;
	font-size: 16px;
	-webkit-transition: -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
	transform-origin: center center;
}

#title{
	width: 130px;
	height: 20px;
	padding-left: 3px;
	padding-top: 30px;
	margin-bottom: 15px;
	font-family: 'Avenir Black';
	font-size: 14px;
	overflow: hidden;
}

#contact{
	width: 50px;
	margin-bottom: 5px;
	padding-left: 3px;
	font-family: 'Avenir Black';
	font-size: 12px;
}

#instagram{
	width: 59px;
	margin-bottom: 5px;
	padding-left: 3px;
	font-family: 'Avenir Black';
}

#email{
	width: 143px;
	padding-left: 3px;
	margin-bottom: 5px;
}

#wip {
	padding-top: 15px;
	font-style: italic;
	font-size: 11px;
}

#about{
	width: 40px;
	padding-left: 3px;
	margin-bottom: 5px;
	font-size: 12px;
	font-family: 'Avenir Black';
}

#aboutText1{
	width: 115px;
	margin-bottom: 5px;
	padding-left: 3px;
	font-size: 12px;
	line-height: 17px;
	font-family: 'Avenir Medium';
}

#aboutText2{
	width: 76px;
	margin-bottom: 15px;
	padding-left: 3px;
	font-size: 12px;
	line-height: 17px;
	font-family: 'Avenir Medium';
}

#aboutText3{
	width: 100px;
	margin-bottom: 5px;
	padding-left: 3px;
	font-size: 12px;
	line-height: 17px;
	font-family: 'Avenir Medium';
}

#thumbnails {
	background-color: black;
	width: calc(100vw);
	height: 100%;
}

.thumb {
	width: 25vw;
	height: 25vw;
	float: left;
	background: url(images/sprites70q.jpg) no-repeat;
	background-size: 100vw;
}

#end{
	margin-top:25px;
	width: 150px;
	font-size: 16px;
	text-align: center;
}

.display {
	display: none;
}

#shadowBox {
	background-color: black;
	opacity: 0.7;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
}

#fullsize {
/*	background-color:white;*/
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
}

img {
	background-color: white;
	max-width:100%;
	max-height:100vh;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	box-sizing: border-box;
}

.tgoBanner_thumb{
	background-position: 0 0;
	background-image:url(images/tgoBanner_thumb.jpg);
	background-size: contain;
	width: 25vw;
	height: 25vw;
	float: left;
}

.IMG_0108_thumb{
	background-position: 0 0;
}

.cat_climb500x500_thumb{
	background-position: calc((100vw/4)*-1) 0;
}

.doorway1_thumb{
	background-position: calc((100vw/2)*-1) 0;
}

.spincase_to_noshade_final1_thumb{
	background-position: calc((100vw/4)*-3) 0;
}

.book_test1_thumb{
	background-position: 0 calc((100vw/4)*-1);
}

.fogtown1_thumb{
	background-position: calc((100vw/4)*-3) calc((100vw/4)*-1) ;
}

.fogtown2_thumb{
	background-position: 0 calc((100vw/2)*-1) ;
}

.fogtown3_thumb{
	background-position: calc((100vw/4)*-1) calc((100vw/2)*-1) ;
}

.fogtown4_thumb{
	background-position: calc((100vw/2)*-1) calc((100vw/2)*-1) ;
}

.fogtown5_thumb{
	background-position:  calc((100vw/4)*-3) calc((100vw/2)*-1) ;
}

.fogtown6_thumb{
	background-position: 0  calc((100vw/4)*-3) ;
}

.fireplace_thumb{
	background-position: 0 calc((100vw)*-1) ;
}

.theghostof_bw_thumb{
	background-position: calc((100vw/4)*-1) calc((100vw)*-1) ;
}



@media only screen and (max-width: 1130px) {

html{
	background-size: calc(100vw/3);
	background-image: url(images/websiteBG.png);
	background-repeat:repeat;
}
	
.thumb {
	width: calc(100vw/3);
	height: calc(100vw/3);
	background-size: calc(100vw * 1.3333);
}
	
.tgoBanner_thumb{
	background-position: 0 0;
	background-image:url(images/tgoBanner_thumb.jpg);
	background-size: contain;
	width: calc(100vw/3);
	height: calc(100vw/3);
	float: left;
}
	
.IMG_0108_thumb{
	background-position: 0 0;
}

.cat_climb500x500_thumb{
	background-position: calc((100vw/3)*-1) 0;
}

.doorway1_thumb{
	background-position: calc((100vw/1.5)*-1) 0;
}

.spincase_to_noshade_final1_thumb{
	background-position: calc((100vw/3)*-3) 0;
}

.book_test1_thumb{
	background-position: 0 calc((100vw/3)*-1);
}

.fogtown1_thumb{
	background-position: calc((100vw/3)*-3) calc((100vw/3)*-1) ;
}

.fogtown2_thumb{
	background-position: 0 calc((100vw/1.5)*-1) ;
}

.fogtown3_thumb{
	background-position: calc((100vw/3)*-1) calc((100vw/1.5)*-1) ;
}

.fogtown4_thumb{
	background-position: calc((100vw/1.5)*-1) calc((100vw/1.5)*-1) ;
}

.fogtown5_thumb{
	background-position:  calc((100vw/3)*-3) calc((100vw/1.5)*-1) ;
}

.fogtown6_thumb{
	background-position: 0  calc((100vw/3)*-3) ;
}

.fireplace_thumb{
	background-position: 0 calc((100vw/3)*-4) ;
}

.theghostof_bw_thumb{
	background-position: calc((100vw/3)*-1) calc((100vw/3)*-4) ;
}

}

@media only screen and (max-width: 820px) {
	
html{
	background-size: calc(100vw/2);
	background-image: url(images/websiteBG.png);
	background-repeat:repeat;
}

 .thumb {
	width: calc(100vw/2);
	height: calc(100vw/2);
	background-size: calc(100vw * 2);
}
	
	.tgoBanner_thumb{
	background-position: 0 0;
	background-image:url(images/tgoBanner_thumb.jpg);
	background-size: contain;
	width: calc(100vw/2);
	height: calc(100vw/2);
	float: left;
}
	
	
.IMG_0108_thumb{
	background-position: 0 0;
}

.cat_climb500x500_thumb{
	background-position: calc((100vw/2)*-1) 0;
}

.doorway1_thumb{
	background-position: calc((100vw)*-1) 0;
}

.spincase_to_noshade_final1_thumb{
	background-position: calc((100vw/2)*-3) 0;
}

.book_test1_thumb{
	background-position: 0 calc((100vw/2)*-1);
}

.fogtown1_thumb{
	background-position: calc((100vw/2)*-3) calc((100vw/2)*-1) ;
}

.fogtown2_thumb{
	background-position: 0 calc((100vw)*-1) ;
}

.fogtown3_thumb{
	background-position: calc((100vw/2)*-1) calc((100vw)*-1) ;
}

.fogtown4_thumb{
	background-position: calc((100vw)*-1) calc((100vw)*-1) ;
}

.fogtown5_thumb{
	background-position:  calc((100vw/2)*-3) calc((100vw)*-1) ;
}

.fogtown6_thumb{
	background-position: 0  calc((100vw/2)*-3) ;
}

.fireplace_thumb{
	background-position: 0 calc((100vw/2)*-4) ;
}

.theghostof_bw_thumb{
	background-position: calc((100vw/2)*-1) calc((100vw/2)*-4) ;
}

}
	
/*
@media only screen and (max-width: 600px) {
 #thumbnails {
	width: calc(100vw);
	height: calc(100vw);
	float: left;
}
}
*/













