@charset "UTF-8";
/* CSS Document */


@font-face {
    font-family:"Avenir Medium";
    src:url(typefaces/Avenir-Medium.ttf) format("truetype");
}
@font-face {
    font-family:"Avenir Black";
    src:url(typefaces/Avenir-Black.ttf) format("truetype");
}
@font-face {
    font-family:"Avenir Book";
    src:url(typefaces/Avenir-Book.ttf) format("truetype");
}



html, body{
	width: 100vw;
	height: 100vh;
	margin: 0;	
	font-size: 12px;
	text-align: left;
	font-family: 'Avenir Medium';
}

.obfuscate {
	unicode-bidi: bidi-override; 
	direction: rtl; 
}

#container {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

#navbar {
	width: 200px;
	height: 100vh;
	position: fixed;
}

#nav{
/*	background-color: white;*/
	width: 160px;
	height: 30px;
	padding-top: 20px;
	padding-left: 25px;
	line-height: 20px;
	-webkit-transition: height 0.5s;
	overflow: hidden;
}
#nav:hover {
    height: 210px;
}

#nav:hover > #logo{
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#logo{
	font-family: 'Avenir Black';
	width: 10px;
	height: 20px;
	font-size: 16px;
	-webkit-transition: -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
	transform-origin: center center;
}

#title{
	background-color: white;
	width: 130px;
	height: 20px;
	padding-left: 3px;
	margin-bottom: 20px;
	font-family: 'Avenir Black';
	font-size: 14px;
	overflow: hidden;
}

#projects{
	padding-top:20px;
	padding-bottom: 20px;
}

#theGhostOf{
	background-color: white;
	width: 80px;
	padding-left: 3px;
}

#fogtown{
	background-color: white;
	width: 55px;
	padding-left: 3px;
}
#sketchbook{
	background-color: white;
	width: 70px;
	padding-left: 3px;
}

#contact{
	padding-bottom: 20px;
}

#instagram{
	background-color: white;
	width: 60px;
	padding-left: 3px;
}

#email{
	background-color: white;
	width: 48px;
	padding-left: 3px;
}

#about{
	font-size: 12px;
	font-family: 'Avenir Black';
}

#aboutText{
	font-size: 12px;
	line-height: 17px;
	font-family: 'Avenir Medium';
}

#thumbnails {
/*	background-color: crimson;*/
	width: calc(100vw);
	height: 100%;
/*	margin-left: 200px;*/
}

.thumb {
	width: calc(25vw);
	height: calc(25vw);
	float: left;
	align-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#t1 {
	background-image: url(https://bit.ly/2TNwuyk);
}
#t2 {
	background-image: url(https://bit.ly/2S4rXpp);
}
#t3 {
	background-image: url(https://bit.ly/2TZ0gjq);
}
#t4 {
	background-image: url(https://bit.ly/2EdPErS);
}
#t5 {
	background-image: url(https://bit.ly/2SWhhOe);
}
#t6 {
	background-image: url(https://bit.ly/2TMvMRM);
}
#t7 {
	
}
#t8 {
	
}
#t9 {
	
}
#t10 {
	
}
#t11 {
	
}
#t12 {
	
}
#t13 {
	
}
#t14 {
	
}

/*
#t11 {
	background-image: url(https://bit.ly/2NavMIP);
}
*/
/*
#t13 {
	background-image: url(https://bit.ly/2V1UEFn);
}
*/





@media only screen and (max-width: 1000px) {
 .thumb {
	width: calc(100vw/3);
	height: calc(100vw/3);
	float: left;
}
}

@media only screen and (max-width: 700px) {
 .thumb {
	width: calc(100vw/2);
	height: calc(100vw/2);
	float: left;
}
}
	
@media only screen and (max-width: 600px) {
 .thumb {
	width: calc(100vw);
	height: calc(100vw);
	float: left;
}
}













